body{
  
  
}



.main_container{
  overflow: hidden;
  border: 1px solid black;
  margin-top: 25px;
  margin-bottom: 100px;
  margin-left: 90px;
  height: 506px;
  width: 1050px;
  background: #95afc0;
}


/****************************
Start of header area design
****************************/

.header{
    overflow: hidden;
    background: #3B3B98;
    height: 100px;
}
.subject{
overflow: hidden;
background: #70a1ff;
height: 500px;

}

.Bangla_first_row{
 overflow: hidden;
 margin-top: 20px;
}
.Bangla_second_row{
 overflow: hidden;
 margin-top: 10px;
 margin-bottom: 20px;
 
}



.Gender_area{
overflow: hidden;
background: #f7f1e3;
float: left;
width: 400px;
height: 150px;
margin-left: 70px;
border-radius: 20px;
border: 2px solid;
border-color: #40407a;
}

.subject .Gender_area button{
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 120px;
  margin-top: 45px;
  width: 150px;
  height: 70px;
  border-radius: 20px;
  border: 2px solid;
  border-color: #40407a;
}


.Noun_area{
float: left;
background: #f7f1e3;
width: 400px;
height: 150px;
margin-left: 100px;
border-radius: 20px;
border: 2px solid;
border-color: #40407a;
}

.subject .Noun_area button{
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 120px;
  margin-top: 45px;
  width: 160px;
  height: 70px;
  border-radius: 20px;
  border: 2px solid;
  border-color: #40407a;
}

.footer{
background: #2C3A47;
height: 50px;
}
